<launch>

	<node pkg="stage_ros" type="stageros" name="test_1" args= "$(find stage_tutorial)/worlds/rooms.world"/>

	<node pkg="teleop_twist_keyboard" type="teleop_twist_keyboard.py" name="teleop_twist_keyboard" output="screen"/>


	<!--
	<node pkg="stage_tutorial" type="basic_control" name="controller1" output="screen"/>
	-->


</launch>